<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <footer th:fragmet="footer">
            The Recruitment peeps <br>
            <span th:text="#{footer.phone}">Telefon</span>: 08-026548<br>
            <span th:text="#{footer.email}">Email</span>: info@recruitment.org
        </footer>
    </body>
</html>
