<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang = "en" xmlns:th="http://www.thymeleaf.org" xml:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      >
    
    <head>
        <title>Log in</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main layout:fragment="content">
        <h1 th:text="#{application.view}">Viewing application</h1>
        <span th:text="${viewedApplication.id}">Id</span>
        
        
        <td th:switch="${viewedApplication.accepted}">
    <span th:case="NULL" th:text="#{application.view.null}">NO COURSES YET!</span>
    <span th:case="true" th:text="#{application.accepted}"></span>
    <span th:case="false" th:text="#{application.rejected}"></span>
</td>

        

            <td>   <form th:action="@{/viewapplication}" th:object="${handleApplicationForm}" method="post">
                    <input type="hidden" th:name="applicantId" th:value="${viewedApplication.id}"/>
                  <button type="submit" th:text="#{application.view.accept}" th:name="newStatus" th:value="accepted">Accept applicant</button>
  <button type="submit" th:text="#{application.view.reject}" th:name="newStatus" th:value="rejected">Reject applicant</button>
        </main>
    </body>
</html>